@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --crossfire-primary: #173451;
    --crossfire-secondary: #5897c9;
    --less-white: #fafafa;
    --less-black: #101010;

    --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    --button-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--less-white);
}

/* Nav */
#nav-top {
padding: 10px 0;
}

#nav-top .width-limit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-top img {
    display: inline-block;
    width: 180px;
}

#nav-top .links i {
    font-size: 1.5rem;
    transform: translateY(8px);
    color: var(--crossfire-primary);
}

nav {
    background: var(--crossfire-primary);
    border-bottom: 6px solid var(--crossfire-secondary);
    padding: 8px 0;
    color: black;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

ul {
    list-style: none;
}

a, a:active {
    text-decoration: none;
}

nav a, nav a:active {
    color: white;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-right: 25px;
}

.width-limit {
    margin: 0 auto;
    max-width: 900px;
    width: 95%;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

h2 {
    color: var(--crossfire-primary);
    margin-bottom: 12px;
}

.text-center {
    text-align: center;
}

section {
    padding: 40px 0;
}

#log-in-box {
    width: 100%;
    max-width: 500px;
    margin: 40px auto 0 auto;
    background-color: var(--less-white);
    box-shadow: var(--box-shadow);
    padding: 25px 10px;
    border-radius: 10px;
}

#log-in-form {
    display: grid;
    row-gap: 20px;
}

#log-in-form > div {
    display: grid;
}

#log-in-box h2, #log-in-form > div {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

#log-in-box h2 {
    margin-bottom: 25px;
}

#log-in-form input[type="text"] {
    border: 1px solid var(--crossfire-secondary);
    padding: 4px;
    border-radius: 4px;
}

button, input[type="submit"] {
    background: var(--crossfire-primary);
    color: white;
    padding: 6px 15px;
    border-radius: 4px;
    min-width: 100px;
    border: none;
    box-shadow: var(--button-shadow);
    max-width: 200px;
}

button:hover, input[type="submit"]:hover {
    background: var(--crossfire-secondary);
}

@media screen and (width > 650px) {
 
}
